<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="DaysAdjustmentConfig"
             type="GoogleCalendarGardeningGenerator.Host.DaysAdjustmentConfigurationSection, GoogleCalendarGardeningGenerator.Host" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <DaysAdjustmentConfig>
    <SpringDates>
      <Crop Name="Artichoke" StartIndoorsOffset="-56" StartOutdoorsOrTransplantOffset="0" />
      <Crop Name="Beans" StartOutdoorsOrTransplantOffset="0" />
      <Crop Name="Beets" StartIndoorsOffset="-56" StartOutdoorsOrTransplantOffset="-14" />
      <Crop Name="Broccoli" StartIndoorsOffset="-56" StartOutdoorsOrTransplantOffset="-14" />
      <Crop Name="Brussel Sprouts" StartIndoorsOffset="-56" StartOutdoorsOrTransplantOffset="-14" />
      <Crop Name="Cabbage" StartIndoorsOffset="-70" StartOutdoorsOrTransplantOffset="-28" />
      <Crop Name="Carrots" StartOutdoorsOrTransplantOffset="-21" />
      <Crop Name="Cauliflower" StartIndoorsOffset="-56" StartOutdoorsOrTransplantOffset="-14" />
      <Crop Name="Celery" StartIndoorsOffset="-77" StartOutdoorsOrTransplantOffset="7" />
      <Crop Name="Chard" StartIndoorsOffset="-56" StartOutdoorsOrTransplantOffset="-14" />
      <Crop Name="Collards" StartIndoorsOffset="-63" StartOutdoorsOrTransplantOffset="-28" />
      <Crop Name="Corn" StartOutdoorsOrTransplantOffset="7" />
      <Crop Name="Cucumbers" StartOutdoorsOrTransplantOffset="0" />
      <Crop Name="Eggplant" StartIndoorsOffset="-42" StartOutdoorsOrTransplantOffset="14" />
      <Crop Name="Gourds" StartOutdoorsOrTransplantOffset="14" />
      <Crop Name="Kale" StartIndoorsOffset="-70" StartOutdoorsOrTransplantOffset="-28" />
      <Crop Name="Kohlrabi" StartIndoorsOffset="-70" StartOutdoorsOrTransplantOffset="-28" />
      <Crop Name="Leek" StartIndoorsOffset="-84" StartOutdoorsOrTransplantOffset="-14" />
      <Crop Name="Lettuce" StartIndoorsOffset="-82" StartOutdoorsOrTransplantOffset="-28" />
      <Crop Name="Melons" StartOutdoorsOrTransplantOffset="14" />
      <Crop Name="Okra" StartIndoorsOffset="-42" StartOutdoorsOrTransplantOffset="14" />
      <Crop Name="Onions" StartIndoorsOffset="-98" StartOutdoorsOrTransplantOffset="-28" />
      <Crop Name="Peas" StartOutdoorsOrTransplantOffset="-56" />
      <Crop Name="Peppers" StartIndoorsOffset="-56" StartOutdoorsOrTransplantOffset="7" />
      <Crop Name="Pumpkins" StartOutdoorsOrTransplantOffset="14" />
      <Crop Name="Radish" StartOutdoorsOrTransplantOffset="-35" />
      <Crop Name="Spinach" StartIndoorsOffset="-77" StartOutdoorsOrTransplantOffset="-42" />
      <Crop Name="Squash" StartIndoorsOffset="-14" StartOutdoorsOrTransplantOffset="14" />
      <Crop Name="Tomatoes" StartIndoorsOffset="-49" StartOutdoorsOrTransplantOffset="7" />
      <Crop Name="Turnips" StartOutdoorsOrTransplantOffset="-35" />
      <Crop Name="Watermelons" StartIndoorsOffset="-14" StartOutdoorsOrTransplantOffset="14" />
    </SpringDates>
    <FallDates>
      <Crop Name="Beets" StartOutdoorsOrTransplantOffset="-70" />
      <Crop Name="Broccoli" StartOutdoorsOrTransplantOffset="-80" />
      <Crop Name="Brussel Sprouts" StartIndoorsOffset="-150" StartOutdoorsOrTransplantOffset="-120" />
      <Crop Name="Cabbage" StartIndoorsOffset="-118" StartOutdoorsOrTransplantOffset="-90" />
      <Crop Name="Carrots" StartOutdoorsOrTransplantOffset="-86" />
      <Crop Name="Cauliflower" StartIndoorsOffset="-110" StartOutdoorsOrTransplantOffset="-80" />
      <Crop Name="Celery" StartOutdoorsOrTransplantOffset="-112" />
      <Crop Name="Chard" StartOutdoorsOrTransplantOffset="-65" />
      <Crop Name="Collards" StartIndoorsOffset="-117" StartOutdoorsOrTransplantOffset="-87" />
      <Crop Name="Fennel" StartOutdoorsOrTransplantOffset="-107" />
      <Crop Name="Greens" StartOutdoorsOrTransplantOffset="-68" />
      <Crop Name="Kale" StartOutdoorsOrTransplantOffset="-85" />
      <Crop Name="Kohlrabi" StartOutdoorsOrTransplantOffset="-60" />
      <Crop Name="Leek" StartIndoorsOffset="-145" StartOutdoorsOrTransplantOffset="-110" />
      <Crop Name="Lettuce" StartOutdoorsOrTransplantOffset="-70" />
      <Crop Name="Onions" StartOutdoorsOrTransplantOffset="-80" />
      <Crop Name="Peas" StartOutdoorsOrTransplantOffset="-103" />
      <Crop Name="Radish" StartOutdoorsOrTransplantOffset="-40" />
      <Crop Name="Spinach" StartOutdoorsOrTransplantOffset="-57" />
      <Crop Name="Turnips" StartOutdoorsOrTransplantOffset="-60" />
    </FallDates>
  </DaysAdjustmentConfig>
</configuration>