<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <configSections>
    <section name="DaysAdjustmentConfig" type="GoogleCalendarGardeningGenerator.DaysAdjustmentConfigurationSection, GoogleCalendarGardeningGenerator" />
  </configSections>

  <DaysAdjustment>
    <SpringDates>
      <crop Name="Artichoke" DaysBeforeFrostPlant="-56" DaysToTransplant="0" />
      <crop Name="Beans" DaysBeforeFrostPlant="" DaysToTransplant="0" />
      <crop Name="Beets" DaysBeforeFrostPlant="-56" DaysToTransplant="-14" />
      <crop Name="Broccoli" DaysBeforeFrostPlant="-56" DaysToTransplant="-14" />
      <crop Name="Brussel Sprouts" DaysBeforeFrostPlant="-56" DaysToTransplant="-14" />
      <crop Name="Cabbage" DaysBeforeFrostPlant="-70" DaysToTransplant="-28" />
      <crop Name="Carrots" DaysBeforeFrostPlant="" DaysToTransplant="-21" />
      <crop Name="Cauliflower" DaysBeforeFrostPlant="-56" DaysToTransplant="-14" />
      <crop Name="Celery" DaysBeforeFrostPlant="-77" DaysToTransplant="7" />
      <crop Name="Chard" DaysBeforeFrostPlant="-56" DaysToTransplant="-14" />
      <crop Name="Collards" DaysBeforeFrostPlant="-63" DaysToTransplant="-28" />
      <crop Name="Corn" DaysBeforeFrostPlant="" DaysToTransplant="7" />
      <crop Name="Cucumbers" DaysBeforeFrostPlant="" DaysToTransplant="0" />
      <crop Name="Eggplant" DaysBeforeFrostPlant="-42" DaysToTransplant="14" />
      <crop Name="Gourds" DaysBeforeFrostPlant="" DaysToTransplant="14" />
      <crop Name="Kale" DaysBeforeFrostPlant="-70" DaysToTransplant="-28" />
      <crop Name="Kohlrabi" DaysBeforeFrostPlant="-70" DaysToTransplant="-28" />
      <crop Name="Leek" DaysBeforeFrostPlant="-84" DaysToTransplant="-14" />
      <crop Name="Lettuce" DaysBeforeFrostPlant="-82" DaysToTransplant="-28" />
      <crop Name="Melons" DaysBeforeFrostPlant="" DaysToTransplant="14" />
      <crop Name="Okra" DaysBeforeFrostPlant="-42" DaysToTransplant="14" />
      <crop Name="Onions" DaysBeforeFrostPlant="-98" DaysToTransplant="-28" />
      <crop Name="Peas" DaysBeforeFrostPlant="" DaysToTransplant="-56" />
      <crop Name="Peppers" DaysBeforeFrostPlant="-56" DaysToTransplant="7" />
      <crop Name="Pumpkins" DaysBeforeFrostPlant="" DaysToTransplant="14" />
      <crop Name="Radish" DaysBeforeFrostPlant="" DaysToTransplant="-35" />
      <crop Name="Spinach" DaysBeforeFrostPlant="-77" DaysToTransplant="-42" />
      <crop Name="Squash" DaysBeforeFrostPlant="-14" DaysToTransplant="14" />
      <crop Name="Tomatoes" DaysBeforeFrostPlant="-49" DaysToTransplant="7" />
      <crop Name="Turnips" DaysBeforeFrostPlant="" DaysToTransplant="-35" />
      <crop Name="Watermelons" DaysBeforeFrostPlant="-14" DaysToTransplant="14" />
    </SpringDates>
    <FallDates>
      <crop Name="Beets" DaysBeforeFrostPlant="" DaysToTransplant="-70" />
      <crop Name="Broccoli" DaysBeforeFrostPlant="" DaysToTransplant="-80" />
      <crop Name="Brussel Sprouts" DaysBeforeFrostPlant="-150" DaysToTransplant="-120" />
      <crop Name="Cabbage" DaysBeforeFrostPlant="-118" DaysToTransplant="-90" />
      <crop Name="Carrots" DaysBeforeFrostPlant="" DaysToTransplant="-86" />
      <crop Name="Cauliflower" DaysBeforeFrostPlant="-110" DaysToTransplant="-80" />
      <crop Name="Celery" DaysBeforeFrostPlant="" DaysToTransplant="-112" />
      <crop Name="Chard" DaysBeforeFrostPlant="" DaysToTransplant="-65" />
      <crop Name="Collards" DaysBeforeFrostPlant="-117" DaysToTransplant="-87" />
      <crop Name="Fennel" DaysBeforeFrostPlant="" DaysToTransplant="-107" />
      <crop Name="Greens" DaysBeforeFrostPlant="" DaysToTransplant="-68" />
      <crop Name="Kale" DaysBeforeFrostPlant="" DaysToTransplant="-85" />
      <crop Name="Kohlrabi" DaysBeforeFrostPlant="" DaysToTransplant="-60" />
      <crop Name="Leek" DaysBeforeFrostPlant="-145" DaysToTransplant="-110" />
      <crop Name="Lettuce" DaysBeforeFrostPlant="" DaysToTransplant="-70" />
      <crop Name="Onions" DaysBeforeFrostPlant="" DaysToTransplant="-80" />
      <crop Name="Peas" DaysBeforeFrostPlant="" DaysToTransplant="-103" />
      <crop Name="Radish" DaysBeforeFrostPlant="" DaysToTransplant="-40" />
      <crop Name="Spinach" DaysBeforeFrostPlant="" DaysToTransplant="-57" />
      <crop Name="Turnips" DaysBeforeFrostPlant="" DaysToTransplant="-60" />
    </FallDates>
  </DaysAdjustment>
</configuration>